@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

:root {
    --primary-dk-blue: #0a2463;
    --light-blue: #017bba;
    --primary-yellow: #fdb515;
    --secondary-yellow: #fba518;
    --primary-orange: #f97300;
    --secondary-orange: #ff6500;
    --accent-white: #ffffff;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--accent-white);
    color: var(--primary-dk-blue);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4em;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-family: "Merriweather", serif;
    line-height: 1em;
    margin: 0;
}

p {
    font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.container {
    margin: 0 1em;
}

.lead {
    text-transform: uppercase;
}

.lead,
cite {
    font-weight: 220;
}

.loading-api {
    padding: 7em 0;
    text-align: center;
}

hr {
    border-style: inset;
    margin: 0.5em 1.5em;
}

/* PRINCIPAL HEADER */
.logo {
    width: 36px;
    border-radius: 100%;
}

.logo:hover {
    outline: 3px solid var(--primary-dk-blue);
    transition: all 0.1s ease-in;
}

.header {
    position: fixed;
    z-index: 10000;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 1em 0.5em;
    background-color: var(--accent-white);
}

.nav-header a {
    padding: 0 5px;
    color: var(--primary-orange);
    text-decoration: none;
}
.nav-header a {
    display: inline-block;
    position: relative;
}

.nav-header a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--secondary-orange);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-header a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* SECOND HEADER */

#cabecalho {
    background-color: var(--light-blue);
    color: var(--accent-white);
    align-content: center;
}

.img-principal {
    display: none;
}

/* Main principal */

.course-header {
    padding: 7em 0 0;
}

.course-header h2 {
    font-size: 2.1em;
}

.course-header span {
    font-weight: 300;
    font-size: 0.7em;
    letter-spacing: 1px;
}

.view-course {
    margin: 0 5px;
    padding-top: 1.5em;
}

.view-course h5 {
    font-size: 1em;
}

.description-course {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-access {
    padding: 5em 0;
    text-align: center;
}

.btn-access a {
    text-decoration: none;
    background-color: var(--secondary-yellow);
    color: var(--accent-white);
    padding: 1.3em 2.3em;
    font-size: large;
    font-weight: 700;
    border-radius: 6px;
}

.btn-access a:hover {
    background-color: var(--secondary-orange);
}

/* CAROUSEL */
.react-multi-carousel-item div p {
    margin: 0;
}

/* Events */

#horarios {
    margin: 2em;
    padding: 7.5em 0;
}

.division {
    margin: 2em 1em;
}

.division fieldset {
    align-content: center;
    margin: 3em 1em;
    border: 2px solid var(--primary-dk-blue);
    border-radius: 6px;
    height: 15em;
}

.division fieldset legend {
    background-color: var(--accent-white);
    font-weight: 700;
    border-radius: 2px;
}

/* FOOTER */
#sobre {
    padding: 2em 0 1em;
}

#sobre .bottom-copyright {
    text-align: center;
    padding: 15px 0 0;
}

.icons a {
    color: var(--primary-yellow);
}

.icons a:hover {
    color: var(--secondary-orange);
}

footer div,
footer div nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer div nav {
    gap: 15px;
}

@media (max-width: 575.98px) {
    .container {
        margin: 0.5em;
    }
    h1 {
        font-size: 2.7em;
    }
    #cabecalho {
        align-content: baseline;
        padding: 5em 0;
    }
    .img-principal {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .img-principal img {
        padding-top: 5em;
        width: 100%;
    }
}

@media (min-width: 767.98px) {
    #cabecalho {
        height: 100dvh;
        background-image: url("../imgs/bg-img-principal.png");
        background-repeat: no-repeat;
        background-position: bottom right;
    }

    #cabecalho h1 {
        font-size: 5.5em;
    }

    .division {
        justify-self: center;
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .division fieldset {
        margin: 1em 0.5em;
    }

    .small-lead {
        max-width: 600px;
    }
}

@media (min-width: 992px) {
    #cabecalho h1 {
        font-size: 7em;
    }
    #cabecalho h3 {
        font-size: 2em;
    }
    #cabecalho p {
        font-size: 1.6em;
    }
    #sobre {
        padding: 4em 0 1em;
    }
}
