@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");

:root {
    --primary-dk-blue: #0a2463;
    --light-blue: #017bba;
    --primary-yellow: #fdb515;
    --primary-orange: #f97300;
    --secondary-orange: #ff6500;
    --accent-white: #ffffff;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--accent-white);
    color: var(--primary-dk-blue);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4em;
}

h1,
h2,
h3 {
    font-family: "Merriweather", serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

p {
    font-family: "Montserrat", sans-serif;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.container {
    margin: 0 1em;
}

.lead {
    text-transform: uppercase;
}

.lead,
cite {
    font-weight: 220;
}

/* PRINCIPAL HEADER */
.logo {
    width: 36px;
    border-radius: 100%;
}

.logo:hover {
    outline: 3px solid var(--primary-dk-blue);
    transition: all 0.1s ease-in;
}

.header {
    position: fixed;
    z-index: 10000;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 1em;
    background-color: var(--accent-white);
}

.nav-header a {
    padding: 0 5px;
    color: var(--primary-orange);
    text-decoration: none;
}
.nav-header a {
    display: inline-block;
    position: relative;
}

.nav-header a::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--secondary-orange);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-header a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* SECOND HEADER */

#cabecalho {
    background-color: var(--light-blue);
    color: var(--accent-white);
    align-content: center;
    block-size: 100dvh;
}

.img-principal {
    display: none;
}

/* Main principal */
#cursos {
    block-size: 100dvh;
}

.course-header {
    padding: 5em 0 0;
}

.view-course h5 {
    font-size: 1em;
}

.btn-access {
    padding: 3.5em 0;
    text-align: center;
}

.btn-access a {
    text-decoration: none;
    background-color: var(--primary-yellow);
    color: var(--accent-white);
    padding: 1.3em 2.3em;
    font-size: large;
    font-weight: 700;
    border-radius: 6px;
}

.btn-access a:hover {
    background-color: var(--secondary-orange);
}

/* CAROUSEL */
.react-multi-carousel-item div p {
    margin: 0;
}

/* FOOTER */
footer div,
footer div nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer div nav {
    gap: 15px;
}

/* @media (max-height: 667.98px) {
    .img-principal img {
        width: 80% !important;
    }
} */

@media (max-width: 575.98px) {
    .container {
        margin: 0.5em;
    }
    h1 {
        font-size: 2.7em;
    }
    #cabecalho {
        align-content: baseline;
        padding: 5em 0;
    }
    .img-principal {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .img-principal img {
        padding-top: 5em;
        width: 100%;
    }
}
